<div class="row">
    <div id="col-md-12">
        <h5>Bem vindo ao nosso primeiro sistema Angular</h5>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p> A única área que eu acho, que vai exigir muita atenção nossa, e aí eu já aventei a hipótese de até criar um
            ministério. É na área de... Na área... Eu diria assim, como uma espécie de analogia com o que acontece na
            área agrícola.
            Se hoje é o dia das crianças... Ontem eu disse: o dia da criança é o dia da mãe, dos pais, das professoras,
            mas também é o dia dos animais, sempre que você olha uma criança, há sempre uma figura oculta, que é um
            cachorro atrás. O que é algo muito importante! </p>
    </div>

</div>